{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Mon panier</h1>

        <div class="row">

            <div class="col-md-8">

                {% for product in cart %}
                    <div class="row mt-2">
                        <div class="col-md-2">
                            <img src="/uploads/{{ product.object.illustration }}" class="img-fluid" alt="{{ product.object.name }}">
                        </div>
                        <div class="col-md-6">
                            <strong>{{ product.object.name }}</strong>
                            <span class="d-block small">Prix unitaire : {{ product.object.priceWT|price }}</span>
                        </div>
                        <div class="col-md-2 text-right">

                            <a href="{{ path('app_cart_decrease', {id : product.object.id} ) }}">-</a> <span class="badge text-bg-secondary">x{{ product.quantity }}</span> <a href="{{ path('app_cart_add', {id : product.object.id} ) }}">+</a>
                        </div>
                        <div class="col-md-2">
                            <strong>{{ (product.quantity * product.object.priceWT)|price }}</strong>
                        </div>
                    </div>
                {% endfor %}
                <a href="{{ path('app_cart_remove') }}" class="small d-block mt-3">Vider le panier</a>
            </div>

            <div class="col-md-4">
                <div class="bg-light p-3 rounded-2">
                    <div class="d-flex justify-content-between">
                        <span class="fw-bold">Total produit</span>
                        <span>{{ fullCartQuantity }}</span>
                    </div>

                    <div class="d-flex justify-content-between mt-3">
                        <span class="fw-bold">Prix total TTC</span>
                        <span>{{ totalWT|price }}</span>
                    </div>

                    <a href="" class="btn btn-primary mt-3 w-100">Commander</a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}